.admonition,.ad {
    padding: 0 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 40px;
    padding: 20px;
  }
  .title {
    text-align: center;    
    font-weight: bold;
  }
  .note{
    color: #1d6fa5;
    background-color: #a0cfee;
    border-color: #3498db;
  }
  .warning,.warn{
    color: #a85913;
    background-color: #f3c195;
    border-color: #e67e22;
  }
  
  .danger {
    color: #bf2718;
    background-color: #f5b4ae;
    border-color: #e74c3c;    
  }

smaller, .smaller{
  font-size: 0.8em;
}


small, .small{
  font-size: small;
}
  
  